---
import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"

let { blok } = Astro.props

let decoFontSize = "0vw"
if (blok.filigrane) {
  //CALCULATE THE FONT SIZE FOR THE DECORATION
  const charWidth = 152.6538462
  const wordLength = blok.filigrane.length
  decoFontSize = `${(30000 / (wordLength * charWidth)).toFixed(2)}vw`
}
---

<section
  class="filigrane relative"
  {...storyblokEditable(blok)}
  data-before={blok.filigrane}>
  <div class="layout">
    {
      blok.image && (
        <div class="image max-w-[25%] z-10">
          <Image
            src={blok.image.filename}
            alt={blok.image.alt}
            layout="full-width"
            inferSize
            class={`max-h-[400px] object-${blok.contain ? "contain" : "cover"}`}
          />
        </div>
      )
    }
    <div class="content text-justify mb-10 pt-(--space-m) z-10">
      <h2>{blok.title}</h2>
      <div class="texte">
        <RichText content={blok.text} />
      </div>
      <div class="mt-10 flex gap-2 flex-wrap">
        {
          blok.buttons.length > 0 &&
            blok.buttons.map((button: any) => <Button blok={button} />)
        }
      </div>
    </div>
  </div>
</section>

<style define:vars={{ decoFontSize }}>
  @reference "../styles/global.css";

  .content > h2 {
    column-span: all;
    margin-block-end: var(--space-l);
    text-align: left;
  }

  .content > :global(div h3) {
    margin-block: var(--space-m);
  }

  .layout {
    display: flex;
    align-items: start;
    justify-content: center;
    @apply mt-0 flex-col lg:flex-row;
  }
  .image {
    @apply hidden sm:block sm:self-end translate-y-32 lg:self-start lg:translate-y-0;
  }
  .layout > div {
    flex-basis: 50%;
  }
  .content {
    column-gap: var(--space-xl);
    @apply px-5 lg:px-10 columns-1 sm:columns-2 lg:columns-1 xl:columns-2 sm:min-w-[500px];
  }
  .filigrane::before {
    content: attr(data-before);
    position: absolute;
    bottom: 0;
    color: #fbfdff;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    /* 🎅 Better alignement than right: 40% with font-size: 400px*/
    right: 0;
    font-size: var(--decoFontSize);
    font-weight: 700;
    line-height: 0.6;
    z-index: 0;
    white-space: nowrap;
    font-family: "Sanchez";
  }
</style>
