---
// 25 / 75 layout
// timeline

import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"
import Timeline from "./Timeline.astro"
import Youtube from "./utils/Youtube.astro"

const { blok } = Astro.props
---

<section class="feature4" {...storyblokEditable(blok)}>
  <div
    class={`layout flex-col ${blok.first ? "lg:flex-row-reverse" : "lg:flex-row"}`}>
    <div class="content">
      {
        blok.intro && (
          <div class="my-5">
            <RichText content={blok.intro} />
          </div>
        )
      }
      <div class="my-5 mx-auto">
        <Timeline data={blok.timeline} />
      </div>
      <div class="mb-10 flex gap-2 flex-wrap self-end">
        {
          blok.buttons.length > 0 &&
            blok.buttons.map((button: any) => <Button blok={button} />)
        }
      </div>
    </div>
    {
      blok.asset && (
        <div class="image mt-(--space-m) lg:mt-0">
          {blok.videolink && (
            <Youtube id={blok.videolink} poster={blok.asset.filename} />
          )}
          {!blok.videolink && (
            <Image
              src={blok.asset.filename}
              alt={blok.asset.alt || " "}
              layout="full-width"
              class={`w-full h-full object-${blok.contain ? "contain" : "cover"} max-h-[800px] lg:max-h-none`}
              inferSize
            />
          )}
        </div>
      )
    }
  </div>
</section>

<style>
  @reference "../styles/global.css";

  .layout {
    display: flex;
    align-items: stretch;
    justify-content: center;
    @apply mt-(--space-3xl) lg:mt-0;
  }
  .layout .content {
    flex-basis: 75%;
  }
  .layout .image {
    flex-basis: 25%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
    @apply px-5 lg:px-10;
  }
</style>
