---
// 50 / 50 layout
// text on 1 col & stats

import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"
import Youtube from "./utils/Youtube.astro"
import Headings from "./utils/Headings.astro"

const { blok } = Astro.props

// Check if the first content is a heading
const indexFirstHeading = blok.content.content
  .map((bloc) => bloc.type)
  .indexOf("heading")
let firstHeading = {},
  remainingContent = blok.content.content
if (indexFirstHeading === 0) {
  firstHeading = {
    type: "doc",
    content: blok.content.content.splice(indexFirstHeading, 1)
  }
  remainingContent = {
    type: "doc",
    content: blok.content.content
  }
}
---

<section class="zigzag feature3" {...storyblokEditable(blok)}>
  <div class="layout">
    <div class="content">
      {
        Object.keys(firstHeading).length > 0 && (
          <div class="head basis-full flex items-end my-(--space-l)">
            <RichText content={firstHeading} />
          </div>
        )
      }
      <div
        class="flex gap-y-(--space-m) gap-x-(--space-xl) flex-wrap justify-center items-center">
        <div class="text text-justify basis-1/2 grow">
          <RichText content={remainingContent} />
          <div class="mt-10 flex gap-2 flex-wrap">
            {
              blok.buttons.length > 0 &&
                blok.buttons.map((button) => <Button blok={button} />)
            }
          </div>
        </div>
        <div class="stats flex flex-col justify-center items-center">
          {
            blok.stats &&
              blok.stats.map((stat) => (
                <div class="flex flex-col justify-center items-center ">
                  <p class="big-number">{stat.stat}</p>
                  <div class="text-center">
                    <RichText content={stat.text} />
                  </div>
                </div>
              ))
          }
        </div>
      </div>
    </div>

    {
      blok.asset && (
        <div class="image mt-(--space-m) lg:mt-0">
          {blok.videolink && (
            <Youtube id={blok.videolink} poster={blok.asset.filename} />
          )}
          {!blok.videolink && (
            <Image
              src={blok.asset.filename}
              alt={blok.asset.alt}
              layout="full-width"
              class="w-full h-full object-cover max-h-[800px] lg:max-h-none"
              inferSize
            />
          )}
        </div>
      )
    }
  </div>
</section>

<style>
  @reference "../styles/global.css";

  .layout {
    display: flex;
    align-items: stretch;
    justify-content: center;
    @apply mt-(--space-3xl) lg:mt-0;
  }
  .layout > div {
    flex-basis: 50%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
    @apply px-5 lg:px-10;
  }
</style>
