---
// 50 / 50 layout
// text on 2 cols

import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"
import Youtube from "./utils/Youtube.astro"

const { blok } = Astro.props
---

<section class="zigzag feature1" {...storyblokEditable(blok)}>
  <div class="layout">
    <div class="content text-justify mb-10">
      <RichText content={blok.content} />
      <div class="mt-10 flex gap-2 flex-wrap">
        {
          blok.buttons.length > 0 &&
            blok.buttons.map((button) => <Button blok={button} />)
        }
      </div>
    </div>
    {
      blok.asset && (
        <div class="image w-full max-w-[50%] mx-auto mt-(--space-m) lg:mt-0">
          {blok.videolink && (
            <Youtube id={blok.videolink} poster={blok.asset.filename} />
          )}
          {!blok.videolink && (
            <Image
              src={blok.asset.filename}
              alt={blok.asset.alt}
              layout="full-width"
              inferSize
              class={`h-full w-full object-${blok.contain ? "contain" : "cover"} max-h-[800px] lg:max-h-none`}
            />
          )}
        </div>
      )
    }
  </div>
</section>

<style>
  @reference "../styles/global.css";

  .content > :global(div > h1:first-of-type),
  .content > :global(div > h2:first-of-type),
  .content > :global(div > h3:first-of-type),
  .content > :global(div > h4:first-of-type),
  .content > :global(div > h5:first-of-type),
  .content > :global(div > h6:first-of-type) {
    column-span: all;
    margin-block-end: var(--space-l);
    text-align: left;
  }

  .layout {
    display: flex;
    align-items: center;
    justify-content: center;
    @apply mt-(--space-3xl) lg:mt-0;
  }
  .layout > div {
    flex-basis: 50%;
  }
  .content {
    column-gap: var(--space-xl);
    @apply px-5 lg:px-10 columns-1 sm:columns-2 lg:columns-1 xl:columns-2;
  }
</style>
