---
// 50 / 50 layout
// text on 2 cols

import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"
import Youtube from "./utils/Youtube.astro"

const { blok } = Astro.props

// Check if the first content is a heading
const indexFirstHeading = blok.content.content
  .map((bloc: any) => bloc.type)
  .indexOf("heading")
let firstHeading = {},
  remainingContent = blok.content
if (indexFirstHeading === 0) {
  firstHeading = {
    type: "doc",
    content: blok.content.content.splice(indexFirstHeading, 1)
  }
  remainingContent = {
    type: "doc",
    content: blok.content.content
  }
}
---

<section class="feature1" {...storyblokEditable(blok)}>
  <div
    class={`layout flex-col ${blok.first ? "lg:flex-row-reverse" : "lg:flex-row"}`}>
    <div class="content self-center text-justify py-5 lg:py-10">
      <div class="title">
        <RichText content={firstHeading} />
      </div>
      <div class="texte"><RichText content={blok.content} /></div>
      <div class="mt-10 flex gap-2 flex-wrap">
        {
          blok.buttons.length > 0 &&
            blok.buttons.map((button: any) => <Button blok={button} />)
        }
      </div>
    </div>
    {
      blok.asset && (
        <div class="image relative w-full full mx-auto mt-(--space-m) lg:mt-0 min-h-[400px] lg:min-h-0">
          {blok.videolink && (
            <Youtube
              id={blok.videolink}
              poster={blok.asset.filename}
              contain="false"
            />
          )}
          {!blok.videolink && (
            <Image
              src={blok.asset.filename}
              alt={blok.asset.alt}
              layout="full-width"
              inferSize
              class={`absolute top-0 right-0 object-${blok.contain ? "contain" : "cover"} max-h-[400px] lg:max-h-full min-h-full`}
            />
          )}
        </div>
      )
    }
  </div>
</section>

<style>
  @reference "../styles/global.css";

  .title {
    column-span: all;
    text-align: left;
  }

  .layout {
    display: flex;
    align-items: stretch;
    justify-content: center;
    @apply mt-(--space-3xl) lg:mt-0;
  }
  .layout > div {
    min-width: 50%;
  }
  .content {
    column-gap: var(--space-xl);
    @apply px-5 lg:px-10 columns-1 sm:columns-2 lg:columns-1 xl:columns-2;
  }
</style>
