---
import { useStoryblokApi } from "@storyblok/astro"
import isPreview from "../utils/isPreview"
import { Image } from "astro:assets"

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get(`cdn/stories/global`, {
  version: isPreview() ? "draft" : "published",
  resolve_links: "url",
  resolve_links_level: 2
})

const datanav = data.story.content.navitems
let nav
if (datanav) {
  nav = datanav.map((item: any) => {
    return {
      name: item.name,
      url: item.page.story?.full_slug,
      subpages: item.subpages.map((subpage: any) => {
        return {
          name: subpage.name,
          url: subpage.page.story?.full_slug
        }
      })
    }
  })
}
---

<header id="header">
  <div class="left">
    <a
      class="logo"
      href="/"
      title="Retour à l'accueil"
      aria-label=`Retour à l'accueil`>
      <Image
        src={data.story.content.logonav.filename}
        alt={data.story.content.logonav.alt || " "}
        layout="full-width"
        inferSize
        class={`object-contain max-h-screen`}
      />
    </a>
    <div class="line"></div>
    <div class="titre">Conception, Rénovation, Extension</div>
  </div>
  <div class="right">
    <div data-nav>
      <div class="relative"></div>
      <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="40"></circle>
      </svg>
    </div>
  </div>
  <div id="nav">
    <nav>
      <ul>
        {
          nav &&
            nav.map((item: any) => (
              <li class="relative">
                {item.url && (
                  <a
                    href={`/${item.url}`}
                    title={item.name}
                    aria-label={item.name}
                    class="relative">
                    {item.name}
                  </a>
                )}
                {!item.url && <span>{item.name}</span>}
                {item.subpages && (
                  <ul>
                    {item.subpages.map((subitem: any) => (
                      <li>
                        <a
                          href={`/${subitem.url}`}
                          title={subitem.name}
                          aria-label={subitem.name}>
                          {subitem.name}
                        </a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
        }
      </ul>
    </nav>
  </div>
  <div class="bg-nav">
    <div></div>
  </div>
</header>

<style is:global>
  #header {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition:
      height 0.7s,
      padding 0.7s,
      transform 0.7s;
    padding: 0 40px 0 50px;
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 135px;
    left: 0;
  }

  main section:not(#slider):first-of-type {
    padding-top: 135px;
  }

  .fix #header {
    height: 100px;
    padding: 0 25px 0 30px;
  }

  .down:not(.openNav) #header {
    transform: translateY(-100%);
  }

  #header:before {
    z-index: 1;
    background: #000;
    transition: height 0.7s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
  }

  .fix #header:before {
    height: 100%;
  }

  /* 🎅 :not(.fix) // GARDE LE FOND NOIR DU HEADER QUAND OPEN */
  .openNav:not(.fix) #header:before {
    transition-delay: 1s;
    height: 0 !important;
  }

  #header > * {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    z-index: 5;
  }

  #header > * > * {
    align-self: center;
  }

  #header .logo {
    top: -2px;
    width: 110px;
    max-width: 110px;
    flex-basis: 110px;
  }

  #header .logo img {
    width: 100%;
  }

  #header .line {
    width: 50px;
    max-width: 50px;
    flex-basis: 50px;
    opacity: 0.5;
    margin: 0 20px;
    height: 1px;
    background: #f15a22;
  }

  #header .titre {
    font-weight: inherit;
  }

  #header .left {
    margin-right: auto;
  }

  #header .right {
    margin-left: auto;
  }

  [data-nav] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border: 1px solid rgba(241, 71, 28, 0.4);
    z-index: 5;
  }

  [data-nav] svg {
    width: 80px;
    height: 80px;
    top: -9px;
    left: -9px;
    position: absolute;
    transition:
      transform 1.5s,
      stroke-dasharray 1.5s;
    stroke: #f15a22;
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 0 999;
  }

  [data-nav]:hover svg {
    stroke-dasharray: 300 999;
    transform: rotate(180deg);
  }

  [data-nav] > div {
    transition: 0.4s;
    width: 20px;
    height: 1px;
    background: #fff;
    align-self: center;
  }

  .openNav [data-nav] > div {
    width: 0;
  }

  [data-nav] > div:after,
  [data-nav] > div:before {
    transition: inherit;
    position: absolute;
    width: 20px;
    height: 1px;
    background: inherit;
    content: "";
    left: 50%;
    transform: translateX(-50%);
  }

  [data-nav] > div:before {
    top: -3px;
  }

  .openNav [data-nav] > div:before {
    top: 0;
    transform: rotate(45deg);
    left: -10px;
  }

  [data-nav] > div:after {
    bottom: -3px;
  }

  .openNav [data-nav] > div:after {
    bottom: 0;
    transform: rotate(-45deg);
    left: -10px;
  }

  @media screen and (min-width: 1200px) {
    [data-nav] {
      display: none;
    }

    #nav nav > ul {
      top: -2px;
      display: flex;
      white-space: nowrap;
      font-weight: 700;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    }

    #nav nav > ul > li {
      margin: 0 20px;
      height: 60px;
      display: flex;
      align-items: center;
    }

    #nav nav > ul > li:last-child {
      margin-right: 0;
    }

    #nav nav > ul > li:hover {
      z-index: 100;
    }

    #nav nav > ul > li:not(:last-child) > a:before {
      content: "";
      transition: 0.3s;
      position: absolute;
      width: 0;
      height: 1px;
      background: #f15a22;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
    }

    #nav nav > ul > li > a:hover:before {
      width: 100%;
    }

    #nav nav > ul li ul {
      transition: 0.4s;
      position: absolute;
      text-align: center;
      background: #000;
      left: 50%;
      transform: translateX(-50%);
      top: 70%;
      opacity: 0;
      visibility: hidden;
    }

    #nav nav > ul li ul:hover,
    #nav nav > ul li:hover ul {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }

    #nav nav > ul li ul a {
      padding: 10px 25px 13px;
      display: inline-block;
      font-weight: 400;
      font-size: 13px;
      width: 100%;
    }

    #nav nav > ul li ul a:hover {
      background: #f15a22;
    }

    #nav nav > ul li ul li:not(:last-child) a:after {
      transition: 0.3s;
      opacity: 0.02;
      background: #fff;
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: 0;
      z-index: 0;
    }

    #nav nav > ul li ul a:hover:after {
      opacity: 0;
    }

    /* #nav nav > ul > li:last-child a {
      padding: 10px 15px 12px;
      top: 2px;
      border: 1px solid #f15a22;
      color: #f15a22;
    } */

    #nav nav > ul > li:last-child a:hover {
      background: #f15a22;
      color: #fff;
    }
  }

  @media screen and (max-width: 1560px) {
    #nav nav > ul > li {
      margin: 0 17px;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 1350px) {
    #nav nav > ul {
      top: 0;
    }

    #nav nav > ul > li {
      margin: 0 15px;
      font-size: 12px;
      font-weight: 500;
    }

    /* #nav nav > ul > li:last-child {
      font-weight: 700;
    } */
  }

  @media screen and (max-width: 1280px) {
    #header .line {
      max-width: 30px;
      width: 30px;
      margin: 0 15px;
    }
  }

  @media screen and (max-width: 1200px) {
    #nav {
      transform: translateX(-100%);
      transition: transform 0.6s;
      position: absolute;
      top: 0;
      background: #000;
      overflow: hidden;
      min-width: 210px;
      left: 0;
      width: 30vw;
      height: 100vh;
      display: block;
    }

    .openNav #nav {
      transform: translateX(0);
    }

    #nav nav {
      overflow-y: scroll;
      height: 100%;
      width: 100vw;
      padding: 15px 0;
    }

    #nav nav > ul > li {
      margin: 0;
    }

    #nav nav > ul > li:last-child {
      margin-bottom: 20px;
    }

    #nav nav > ul > li a,
    #nav nav > ul > li span {
      display: inline-block;
      padding: 5px 20px;
      font-size: calc(12px + 5 * (100vw - 320px) / 1080);
      width: 100%;
    }

    #nav nav > ul > li a:hover {
      color: #f15a22;
    }

    #nav nav > ul > li > a,
    #nav nav > ul > li > span {
      font-weight: 700;
      padding: 8px 20px;
      font-size: calc(15px + 5 * (100vw - 320px) / 1080);
    }

    #nav nav > ul > li ul {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 880px) {
    #header {
      padding: 0 30px 0 40px;
      height: 115px;
    }

    #header + * {
      padding-top: 115px;
    }

    .fix #header {
      height: 90px;
      padding: 0 15px 0 25px;
    }

    #header .line {
      width: 40px;
      max-width: 40px;
      flex-basis: 40px;
      margin: 0 20px;
    }

    [data-nav] {
      width: 50px;
      height: 50px;
    }

    [data-nav] svg {
      width: 62px;
      height: 62px;
      top: -7px;
      left: -7px;
    }
  }

  @media screen and (max-width: 625px) {
    #header .left .line,
    #header .left .titre {
      display: none;
    }
  }
</style>

<script>
  const dataNav = document.querySelector("div[data-nav]")

  //Open the menu when the hamburger is clicked
  dataNav.addEventListener("click", () => {
    document.body.classList.toggle("openNav")
  })
  //Close when click outside nav
  const outsideNav = document.querySelector("#nav")
  document.addEventListener("click", (event) => {
    if (event.target.contains(outsideNav)) {
      if (document.body.classList.contains("openNav")) {
        document.body.classList.remove("openNav")
      }
    }
  })
  //Close on Esc keyboard input
  document.addEventListener("keyup", (event) => {
    if (event.key === "Escape" && document.body.classList.contains("openNav")) {
      document.body.classList.remove("openNav")
    }
  })

  //Add a black background when scroll
  const callback = (entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        document.body.classList.remove("fix")
      } else {
        document.body.classList.add("fix")
      }
    })
  }
  const observer = new IntersectionObserver(callback)
  const targetEl = document.querySelector("[data-scroll-target]")
  observer.observe(targetEl)
</script>
