---
import InlineSVG from "./utils/InlineSvg.astro"
import RichText from "./utils/RichText.astro"
import { Image } from "astro:assets"
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro"
import Button from "./Button.astro"
import isPreview from "../utils/isPreview"
import InlineSvg from "./utils/InlineSvg.astro"

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get(`cdn/stories/global`, {
  version: isPreview() ? "draft" : "published",
  resolve_links: "url",
  resolve_links_level: 2
})

let socials = data.story.content.rs
let logo = data.story.content.logonav

const { blok } = Astro.props
---

<section class="slider relative" {...storyblokEditable(blok)}>
  {
    blok.logo && (
      <Image
        src={logo.filename}
        alt={logo.alt || " "}
        layout="full-width"
        inferSize
        class={`z-10 absolute top-4 left-4 object-contain w-32`}
      />
    )
  }
  <div class="rs gap-5">
    {
      !blok.rs &&
        socials.map((reseau: any) => (
          <a
            href={reseau.url.url}
            class={`icones-social-12 ${reseau.name}`}
            rel="external noopener noreferrer"
            title={`Voir notre page ${reseau.name} Architéa`}
            target="_blank"
            aria-label={`lien vers ${reseau.name}`}>
            {reseau.icon.filename && (
              <InlineSvg
                src={reseau.icon.filename}
                class={`rs-icon fill-${reseau.color}`}
              />
            )}
          </a>
        ))
    }
  </div>
  <div class="ct p-(--space-m) lg:p-(--space-3xl) max-w-[100ch]">
    <RichText content={blok.text} />
    <div class="flex flex-wrap gap-4 justify-start items-stretch buttons">
      {blok.buttons.map((button: any) => <Button blok={button} />)}
    </div>
  </div>
  <div class="swiper swiper-full">
    <div class="swiper-wrapper">
      {
        blok.slider.map((slide: any) => (
          <div class="swiper-slide">
            <Image
              src={slide.filename}
              alt={slide.alt || " "}
              layout="full-width"
              inferSize
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @reference "../styles/global.css";

  :global(.hasRotated) + .buttons {
    padding-inline-start: calc(var(--longueur) * 0.5vw);
    @media (min-width: 450px) {
      padding-inline-start: calc(var(--longueur) * 6px);
    }
  }

  .slider {
    position: relative;
    background-color: var(--color-noir);
    color: var(--color-blanc);
  }
  .swiper-slide :global(img) {
    max-width: 100%;
    min-width: 100vw;
    max-height: 100vh;
    min-height: max(100vh, 800px);
    object-fit: cover;
  }
  .ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
  }
  .rs {
    position: absolute;
    left: 50px;
    display: flex;
    z-index: 2;
    @apply bottom-[15px] md:bottom-[50px];
  }
</style>

<script>
  import Swiper from "swiper"
  import { Autoplay } from "swiper/modules"

  window.addEventListener("load", function () {
    const swiper = new Swiper(".swiper-full", {
      // Install modules
      modules: [Autoplay],
      // Optional parameters
      direction: "horizontal",
      centeredSlides: true,
      loop: true,
      simulateTouch: false,
      speed: 3500,
      autoplay: {
        delay: 8000,
        disableOnInteraction: false
      }
    })
  })
</script>
