---
import InlineSVG from "./utils/InlineSvg.astro"
import RichText from "./utils/RichText.astro"
import { Image } from "astro:assets"
const { blok } = Astro.props
---

<div id="slider">
  <div class="rs">
    {
      blok.socials.map((reseau) => (
        <a
          href={reseau.url.url}
          class={`icones-social-12 ${reseau.name}`}
          rel="external noopener noreferrer"
          title={`Voir notre page ${reseau.name} Architéa`}
          target="_blank"
          aria-label={`lien vers ${reseau.name}`}>
          <InlineSVG
            class={`rs-icon fill-${reseau.color}`}
            src={reseau.icon.filename}
          />
        </a>
      ))
    }
  </div>
  <div class="ct">
    <RichText content={blok.text} />
  </div>
  <div data-swiper="slider" class="swiper">
    <div class="swiper-wrapper">
      {
        blok.slider.map((slide) => (
          <div class="swiper-slide">
            <Image
              src={slide.filename}
              alt={slide.alt}
              layout="full-width"
              inferSize
            />
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  :global(.rs-icon svg) {
    width: 48px;
  }
  .slider {
    position: relative;
  }
  .swiper-slide :global(img) {
    max-width: 100%;
    min-width: 100vw;
    max-height: 100vh;
    min-height: max(100vh, 800px);
    object-fit: cover;
  }
  .ct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .rs {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    z-index: 2;
  }
</style>

<script>
  import Swiper from "swiper"
  import { Autoplay } from "swiper/modules"

  window.addEventListener("load", function () {
    const swiper = new Swiper(".swiper", {
      // Install modules
      modules: [Autoplay],
      // Optional parameters
      direction: "horizontal",
      centeredSlides: true,
      loop: true,
      simulateTouch: false,
      speed: 3500,
      autoplay: {
        delay: 8000,
        disableOnInteraction: false
      }
    })
  })
</script>
