---
import { Image } from "astro:assets"
import RichText from "./utils/RichText.astro"
import { storyblokEditable } from "@storyblok/astro"
import Button from "./Button.astro"
import Youtube from "./utils/Youtube.astro"

let { blok } = Astro.props
console.log(blok)
---

<section
  class="video-gallery relative"
  {...storyblokEditable(blok)}
  data-before={blok.filigrane}>
  {
    blok.text && (
      <div class="my-(--space-l) texte">
        <RichText content={blok.text} />
      </div>
    )
  }
  <div class="swiper swiper-gallery relative">
    <div class="swiper-wrapper">
      {
        blok.videos.map((slide: any) => (
          <div class="swiper-slide">
            <div class="flex flex-col items-center">
              {slide.videolink && (
                <Youtube
                  id={slide.videolink}
                  poster={slide.image.filename}
                  class="h-92 w-72 object-contain bg-no-repeat max-h-fit"
                  contain="true"
                />
              )}
              {!slide.videolink && (
                <Image
                  src={slide.image.filename}
                  alt={slide.image.alt || " "}
                  layout="full-width"
                  class={`w-98 h-72 object-contain`}
                  inferSize
                />
              )}
              <p class="font-semibold text-center">{slide.title}</p>
            </div>
          </div>
        ))
      }
    </div>
    <div class="swiper-button-next swiper-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24">
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          ><path d="m11 19l6-7l-6-7"></path><path d="m7 19l6-7l-6-7"></path></g
        ></svg
      >
    </div>
    <div class="swiper-button-prev swiper-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24">
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          ><path d="m13 19l-6-7l6-7"></path><path d="m17 19l-6-7l6-7"></path></g
        ></svg
      >
    </div>
  </div>
</section>

<style>
  @reference '../styles/global.css';
  section {
    padding-block: var(--space-m);
    @apply px-5 lg:px-10 py-5 mx-auto;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    object-fit: contain;
    /* @apply max-w-[300px] lg:max-w-[400px] xl:max-w-[500px]; */
  }
  .swiper-wrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .swiper-button {
    position: absolute;
    top: -10%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: color-mix(in oklab, var(--color-blanc), transparent 50%);
    width: min(15vw, 70px);
    & svg {
      width: 64px;
      height: 64px;
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
</style>

<script>
  import Swiper from "swiper"
  import { Navigation } from "swiper/modules"

  window.addEventListener("load", function () {
    const windowWidth = window.innerWidth
    let maxNbSlidesPerView = windowWidth / 410
    let nbSlides = document.querySelectorAll(
      ".swiper-gallery .swiper-slide"
    ).length
    let nbSlidesPerView = Math.floor(Math.min(nbSlides, maxNbSlidesPerView))
    let loop = nbSlides > nbSlidesPerView ? true : false
    if (!loop) {
      document.querySelectorAll(".swiper-button").forEach((button) => {
        button.style.display = "none"
      })
    } else {
      document.querySelectorAll(".swiper-button").forEach((button) => {
        button.style.display = "flex"
      })
    }
    console.log(nbSlidesPerView)
    let swiperGallery = new Swiper(".swiper-gallery", {
      modules: [Navigation],
      slidesPerView: nbSlidesPerView,
      // centerInsufficientSlides: true,
      // centeredSlides: true,
      // centeredSlidesBounds: true,
      edgeSwipeDetection: "prevent",
      spaceBetween: 10,
      loop: true,
      navigation: {
        addIcons: false,
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    })
    window.addEventListener("resize", function () {
      const windowWidth = window.innerWidth
      let maxNbSlidesPerView = windowWidth / 410
      let nbSlides = document.querySelectorAll(
        ".swiper-gallery .swiper-slide"
      ).length

      let nbSlidesPerView = Math.floor(Math.min(nbSlides, maxNbSlidesPerView))
      let loop = nbSlides > nbSlidesPerView ? true : false
      if (!loop) {
        document.querySelectorAll(".swiper-button").forEach((button) => {
          button.style.display = "none"
        })
      } else {
        document.querySelectorAll(".swiper-button").forEach((button) => {
          button.style.display = "flex"
        })
      }
      swiperGallery.params.slidesPerView = nbSlidesPerView
      swiperGallery.update()
    })
  })
</script>
